

@page "/Counter"
@using GdscManagement.API.Features.Teams.Models 
@using GdscManagement.API.Features.Teams
@using GdscManagement.Common.Features.Teams.Models
@using GdscManagement.Common.Features.Users.Models
@using GdscManagement.Common.Repository
@*Dependency injections ? r*@ 
@inject IRepository<Team> TeamRepository
@inject IRepository<User> UserRepository

@code {

    public int  x=5;

    public void Add()
    {
        this.x += 1;
    }

    public void LogWhenChanged(int count)
    {
        Console.WriteLine( "Count changed to " +count);
        x = count;
    }
    


} 

@* butoanele is in navbar,  necesita libraria de blazor *@

<div style ="    

                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 height: 100%;
                 justify-content: center;"> 
<h1>Counter</h1>


    <Number @bind-count="x">  </Number>  
    @* sau *@ 
   @* <Number count="x" countChanged= "count => x = count"> </Number>  *@
    <Number count="x" countChanged= "LogWhenChanged"> </Number>  
    @* leaga x de componenta number *@

<button @onclick="Add"> Add </button>   @*  leaga metoda de buton*@

</div>


@* cum se paseaza metodele parinte-copil*@


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}
    
   
