<MudNavMenu Color="Color.Primary" Margin="Margin.Dense" Rounded="true" Class="mud-width-full" Bordered="true">
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="fas fa-house" IconColor="Color.Success">Home</MudNavLink>
    <MudNavLink Href="/users" Icon="fas fa-users" IconColor="Color.Primary">Users</MudNavLink>
    <MudNavLink Href="/teams" Icon="fas fa-users" IconColor="Color.Primary">Teams</MudNavLink>
    <MudNavLink Href="/roles" Icon="fas fa-users" IconColor="Color.Primary">Roles</MudNavLink>
    
    
    @* testing 
Href- legatura dintre path si pagina *@
    <a Href="/Counter">
        CounterPage
    </a>
    
    
    @* // *@

    <MudNavGroup Title="Settings" Icon="fas fa-cogs" IconColor="Color.Primary">
        <MudNavLink Href="/docs" Icon="fas fa-file-lines" IconColor="Color.Info">Swagger (Embedded)</MudNavLink>
         <MudNavLink Href="/swagger" Target="_blank" Icon="fas fa-passport" IconColor="Color.Info">Swagger</MudNavLink> 
         @* asa se adauga un buton  *@
        <MudNavLink Href="/security" Icon="fas fa-user-shield" IconColor="Color.Info">Security</MudNavLink>
    </MudNavGroup>
</MudNavMenu>
